<section class="menue_wrap_mobile Hide-section">
    <!--- elite_menue_wrap mobile-->
    <main class="menue-padding">

        <div class="work-about">
            <a href="javascript:void(0);" class="cross__menue"><img src="~/Content/Mobile/images/cross_menue.png" width=17 height=17 /></a>

            <ul>
                <li><a href="@Url.Action("About_Us","Mobile")">About</a></li>
                <li><a href="@Url.Action("Services","Mobile")">Service</a></li>
                <li><a href="@Url.Action("Case_Study","Mobile")">Case Study</a></li>
                <li class="bb-none"><a href="@Url.Action("Chili","Mobile")">Chilli</a></li>
            </ul>
        </div>

        <div class="career-blog">
            <ul>
                <li><a href="@Url.Action("Careers","Mobile")">Careers</a></li>
                <li><a href="@Url.Action("Blog","Mobile")">Blogs</a></li>
                <li class="mb-cntct"><a href="@Url.Action("Contact_Us_2","Mobile")">Contact</a></li>
            </ul>
        </div>

        <div class="got_an_idea">
            <h3>Got an Idea?</h3>
            <h4><a href="@Url.Action("Cotact_Us","Mobile")">Let's Work Together <img src="~/Content/Mobile/images/rgt-arrow-mv.svg" class="mr-arrow-menue" /></a></h4>
        </div>

        <div class="social-area">
            <ul>
                <li><a href="#">Linkedin</a></li>
                <li><a href="https://www.instagram.com/elitewebtechnologies/">Instagram</a></li>
                <li><a href="https://www.facebook.com/elitewebtechnologies1/">Facebook</a></li>
                <li class="mb-cntct"><a href="#">Twitter</a></li>
            </ul>
        </div>


    </main>
</section><!--- elite_menue_wrap mobile-->
